@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts//10177.eot");
  src: local("☺"), url("../fonts//10177.woff") format("woff"), url("../fonts//10177.ttf") format("truetype"), url("../fonts//10177.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 140.62%;
  color: #000000;
  background: #E5E5E5;
}

h1 {
  font-size: 56px;
  line-height: 69px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}

.container {
  width: 1440px;
  position: relative;
  margin: 0 auto;
  background: #FFFFFF;
}

.header {
  height: 116px;
  line-height: 22px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 0 0 0 80px;
}

.header-nav a {
  color: #000000;
}

.header-link {
  align-items: center;
  list-style: none;
  display: inline-block;
  margin: 0 31px 0 0;
}
.header-link:last-child {
  margin-right: 0px;
}

.header-button {
  margin: 0 34px 0 0;
  text-transform: uppercase;
  border: 1px solid #F7941E;
  border-radius: 5px;
  width: 150px;
  height: 44px;
  text-align: center;
  padding: 10px 0 0 0;
  color: #f7941e;
}

.main-block1 {
  display: flex;
  justify-content: flex-end;
}
.main-block1 p {
  font-size: 20px;
}

.main-block1__info1 {
  background: #F1F1F2;
}
.main-block1__info1 h1 {
  width: 433px;
  height: 206px;
  margin: 154px 126px 0 162px;
  line-height: 69px;
}
.main-block1__info1 p {
  width: 422px;
  height: 57px;
  margin: 36px 137px 52px 162px;
}
.main-block1__info1 a {
  display: block;
  margin: 0 359px 0 162px;
  padding: 23px 0 0 0;
  background: #F7941E;
  border-radius: 5px;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
}

.main-block1__img1 {
  width: 50%;
}

.main-block2 {
  display: flex;
  justify-content: flex-start;
}

.main-block2__img2 {
  width: 50%;
}

.main-block2__info2 {
  background: #F1F1F2;
  width: 50%;
}
.main-block2__info2 h3 {
  width: 250px;
  height: 45px;
  margin: 164px 0 23px 102px;
}
.main-block2__info2 p {
  width: 400px;
  height: 169px;
  margin: 0 0 35px 102px;
  text-align: justify;
}
.main-block2__info2 a {
  display: block;
  margin: 0 0 0 102px;
  padding: 21px 0 0 0;
  border: 1px solid #F7941E;
  box-sizing: border-box;
  border-radius: 5px;
  color: #F7941E;
  line-height: 134.77%;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
}

.main-middle {
  text-align: center;
  background: #FFFFFF;
}
.main-middle h3 {
  line-height: 38px;
  margin: 96px 0 23px 0;
}
.main-middle p {
  line-height: 135.94%;
  margin-bottom: 64px;
}

.main-choice ul {
  display: flex;
  justify-content: center;
}
.main-choice li {
  display: inline-block;
}
.main-choice li:last-child img {
  margin-right: 0;
}
.main-choice li:last-child .main-choice__info {
  margin-right: 0;
}
.main-choice img {
  width: 270px;
  height: 270px;
  margin-right: 30px;
}

.main-choice__info {
  margin-right: 30px;
  margin-bottom: 137px;
  text-align: left;
  background: #FAFAFA;
}
.main-choice__info:hover {
  background: #FFFFFF;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.main-choice__info span {
  display: block;
  padding: 24px 0 74px 24px;
  font-size: 20px;
  line-height: 24px;
}
.main-choice__info a {
  display: block;
  color: #000000;
  padding: 0 0 24px 24px;
  font-size: 14px;
  line-height: 19px;
}

.main-edge {
  background: #F7941E;
  height: 240px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-edge__info li:first-child h3 {
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 229px;
}
.main-edge__info h3 {
  margin-left: 235px;
}

.main-edge__links li {
  display: inline-block;
}
.main-edge__links li:first-child a {
  color: #FFFFFF;
  background: #231F20;
  border-radius: 5px;
  line-height: 22px;
  text-align: center;
  padding: 15px;
  margin-right: 16px;
}
.main-edge__links li:last-child a {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  padding: 15px;
}
.main-edge__links a {
  text-transform: uppercase;
  display: block;
  width: 200px;
  height: 50px;
}

.main-bottom__block1 {
  text-align: center;
  background: #FFFFFF;
}
.main-bottom__block1 h3 {
  line-height: 38px;
  margin: 88px 0 23px 0;
}
.main-bottom__block1 p {
  line-height: 135.94%;
  margin-bottom: 71px;
}

.main-bottom__block2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.main-bottom__block2-info {
  background: #231F20;
  color: #FFFFFF;
}
.main-bottom__block2-info p {
  margin: 63px 608px 27px 78px;
  font-size: 14px;
}
.main-bottom__block2-info h2 {
  margin: 0 0 60px 78px;
  width: 492px;
}
.main-bottom__block2-info a {
  display: block;
  color: #FFFFFF;
  margin-left: 78px;
}

.main-bottom__block3 {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.main-bottom__block3 a {
  display: block;
  color: #000000;
  font-size: 14px;
  margin-left: 48px;
}
.main-bottom__block3 h4 {
  margin: 48px 48px 32px 48px;
}
.main-bottom__block3 p {
  margin: 0 48px 48px 48px;
}

.main-bottom__block3-left {
  width: 570px;
  height: 290px;
  margin-right: 30px;
}
.main-bottom__block3-left:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.main-bottom__block3-right {
  width: 570px;
  height: 290px;
}
.main-bottom__block3-right:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.footer {
  font-size: 14px;
  background: #FAFAFA;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
}
.footer-nav li {
  display: inline-block;
}
.footer-nav li:nth-child(2) {
  margin-left: 81px;
}
.footer-nav li:nth-child(4) {
  margin-right: 81px;
}
.footer-nav a {
  display: block;
  font-weight: bold;
  color: #000000;
}
.footer-nav img {
  margin: 0 141px 0 141px;
}

.footer-link {
  margin-top: 106px;
}

.footer-line {
  width: 1000px;
  text-align: center;
  border-bottom: 1px solid #000000;
  margin-left: 220px;
  margin-bottom: 56px;
}

.footer-s_media {
  display: flex;
  justify-content: center;
  margin-bottom: 73px;
}
.footer-s_media li {
  display: inline-block;
  margin-right: 26px;
}
.footer-s_media li:last-child {
  margin-right: 0;
}

.footer-s_media__link a {
  display: block;
}

.footer-about {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.footer-about a {
  display: block;
  color: #000000;
}

.footer-period {
  margin-right: 14px;
  margin-bottom: 35px;
}